.accountBalance, .accountBalanceLoading{
    background-color: #fff;
    width: 100%;
    max-width: 700px;
    height: 40%;
    padding: 20px;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
}

.accountBalanceLoading{
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerPayment{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.headerPayment span{
    font-size: 20px;
    font-weight: bold;
}

.title{
    font-size: 26px;
}

.tableAreaAccountBalance{
    max-height: 260px;
    overflow-y: auto;
    overflow-x: hidden;
}

.tableAccountBalance{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
}

.tableAccountBalance thead{
    font-size: 20px;
    background-color: #fff;
}

.tableAccountBalance tbody{
    background-color: #dcdcdc;
}

.tableAccountBalance th, .tableAccountBalance td{
    text-align: center;
}

.tableAccountBalance td{
    padding: 8px;
    font-size: 18px;
}

.tableAccountBalance td:first-child{
    border-radius: 8px 0 0 8px;
}

.tableAccountBalance td:last-child{
    border-radius: 0 8px 8px 0;
}

.valueEntry, .valueExit{
    padding: 5px 20px;
    border-radius: 20px;
}

.valueEntry{
    background-color: rgba(50, 205, 50, 0.5);
}

.valueExit{
    background-color: rgba(255, 0, 0, 0.5);
}

.noTransactions{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.noTransactions h1{
    font-size: 26px;
}

.btnFunctions{
    background-color: #0B5ED7;
    border-radius: 50px;
    padding: 5px 8px;
    transition: 0.3s all ease-in-out;
    margin: 5px;
}

.btnFunctions:hover{
    transform: scale(1.15);
}