.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 70px);
}

.fc {
    width: 100%;
    height: calc(100vh - 70px);
    padding: 30px;
}

.fc-daygrid-day-frame, .fc-timegrid-slot, .fc-list-event {
    cursor: pointer;
}

.fc-daygrid-day-frame{
    transition: 0.3s all ease-in-out;
}

.fc-daygrid-day-frame:hover{
    background-color: #dcdcdc;
}

.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 70px);
}

