.container{
    width: 100%;
    height: calc(100vh - 70px);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 80px;
}
.container h1{
    font-size: 80px;
}

.links{
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.links a{
    background-color: #0B5ED7;
    color: #fff;
    padding: 10px 15px;
    border-radius: 4px;
    transition: 0.3s all ease-in-out;
}

.links a:hover{
    transform: scale(1.2);
}

