.addArea {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.addArea input,
textarea,
select {
    border: none;
    background-color: transparent;
}

.inputsText{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.inputsSelect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
}

.inputsLinha{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    gap: 10px;
    margin-top: 30px;
}

.btnAdicionar {
    width: 100%;
}

.inputCor{
    width: 80px;
    height: 35px;
}