.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    padding: 0 40px 0 20px;
}

.iconMenu {
    cursor: pointer;
}

.userArea{
    display: flex;
    justify-content: center;
    align-items: center;
}

.userArea a{
    font-size: 20px;
    font-weight: 500;
    color: #000;
    margin-top: 5px;
}

.navMenu {
    background-color: #c0c0c0;
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: left 0.5s ease-in-out;
    padding: 20px;
    z-index: 10;
}

.navMenu.aberto {
    left: 0;
}

.navHeader{
    display: flex;
    flex-direction: row;
}

.titulo {
    font-size: 40px;
    color: #0B5ED7;
    font-weight: bold;
}

.fecharBtn {
    position: relative;
    left: 25px;
    bottom: 5px;
    font-weight: bold;
    font-size: 20px;
    color: #888;
    transition: all 0.3s ease-in-out;
}

.fecharBtn:hover{
    color: #ff3b3b;
}

.navLinks {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 100%;
}

.buttonNavLink{
    background-color: #fff;
    padding: 8px 15px;
    border-radius: 4px;
    width: 100%;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    display: flex;
    margin-bottom: 10px;
}

.links {
    color: #000;
    font-weight: 500;
    font-size: 20px;
    margin-left: 10px;
}

.buttonNavLink:hover {
    box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
}

.footer{
    position: fixed;
    bottom: 0;
    margin: 0 auto;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 10px;
}

.footer button{
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}

@media (max-width: 500px){
    .navMenu {
        width: 250px;
        left: -250px;
    }
    .links{
        font-size: 18px;
    }
    .titulo{
        font-size: 34px;
    }
}