.payments, .paymentsLoading{
    background-color: #fff;
    width: 100%;
    max-width: 1200px;
    height: 63%;
    padding: 20px;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
}

.paymentsLoading{
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    font-size: 26px;
}

.headerPayments{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
}

.headerPayments button{
    font-size: 26px;
    font-weight: bold;
    background-color: #0B5ED7;
    border-radius: 50px;
    color: #fff;
    width: 40px;
    transition: 0.3s all ease-in-out;
}

.headerPayments button:hover{
    transform: scale(1.15);
}

.tableAreaPayments{
    max-height: 440px;
    overflow-y: auto;
    overflow-x: hidden;
}

.tablePayments{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
}

.tablePayments thead{
    font-size: 20px;
    background-color: #fff;
}

.tablePayments tbody {
    background-color: #dcdcdc;
}


.tablePayments th, .tablePayments td{
    padding: 12px;
    text-align: center;
}

.tablePayments td{
    font-size: 18px;
}

.tablePayments td:first-child{
    border-radius: 8px 0 0 8px;
}

.tablePayments td:last-child{
    border-radius: 0 8px 8px 0;
}

.statusPayment{
    background-color: rgba(255, 130, 0, 0.5);
    padding: 4px 10px;
    border-radius: 22px;
}

.paidStatus, .pendingStatus{
    padding: 5px 20px;
    border-radius: 20px;
}

.paidStatus{
    background-color: rgba(50, 205, 50, 0.5);
}

.pendingStatus{
    background-color: rgba(255, 0, 0, 0.5);
}

.btnDelet{
    background-color: #0B5ED7;
    border-radius: 50px;
    padding: 5px 8px;
    transition: 0.3s all ease-in-out;
}

.btnDelet:hover{
    transform: scale(1.15);
}

.noPayments{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.noPayments h1{
    font-size: 28px;
}