.fc .fc-button-primary {
  --fc-button-bg-color: #696969;
  --fc-button-border-color: #696969;
  --fc-button-active-bg-color: #808080;
  --fc-button-active-border-color: #808080;
  --fc-button-hover-bg-color: #808080;
  --fc-button-hover-border-color: #808080;
}

.fc {
  width: 100%;
  height: calc(100vh - 30px);
}

.fc-daygrid-day-frame,
.fc-timegrid-slot,
.fc-list-event {
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}

.fc-daygrid-day-frame:hover,
.fc-timegrid-slot:hover {
  background-color: #dcdcdc;
}

.fc-toolbar-title {
  text-transform: capitalize;
}

@media (max-width: 1000px) {
  .fc-toolbar-chunk {
    width: 100%;
  }

  .fc-toolbar-chunk,
  .fc-toolbar-title {
    font-size: 13px;
  }
}

@media (max-width: 750px) {
  .fc-header-toolbar {
    flex-direction: column;
    gap: 10px;
  }
}
